/* App CSS */

/* 1. Basic Reset */
html{box-sizing: border-box;}

*,
*:after,
*:before{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	min-height: 100vh;
}
body::-moz-scrollbar {
      background-color: navy;
}

img{
	width: 100%;
	display: block;
	height: auto;
}

/* 2.Container */
.container{
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	position: relative;
}

/* 3.Sidebar */
.Sidebar{
	background-color: #171a2f;
	width: 30%;
	position: fixed;
	overflow-y: scroll;
	height: 100vh;
}

/* 3.1.Logo */
.Logo__img{
	width: 80%;
}

/* 3.2. Playlist */
.Playlist{color:  #FFF;}
.Playlist__title{
	padding: 1rem 1rem;
}
.Playlist__list{padding: 0 2.5rem;}
.Playlist__link{
	color:  #FFFFFF;
	line-height: 1.5rem;
	/* margin-left: .8rem; */
	text-decoration: none;
	font-weight: 300;
}

/* 3.3. Friends */
.Friends{
	color: #FFFFFF;
}
.Friends__list{
	padding: 0 2rem;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.Friends__title{padding: 1rem 1rem;}
.Friends__item{
	padding: .5rem 0;
}
.Friends__link{
	color:  #FFFFFF;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
}

.Friends__img{
	width: 50px;
	margin-right: 20px;
	display: inline-block;
	border-radius: 100px;
}

/* 4. Main */
.Main{
	padding: 2rem;
	margin-left: 30%;
	overflow: hidden;
}

.Main__header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
}
 
.Search__container{
	background: #f5f5f5;
	width: 400px;
	border-radius: 8px;
	/* border: .5px solid transparent; */
	/* box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .3); */
}
.Search__container.is--focus{
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,.4);
}
.Search__input{
	border: none;
	background: #f5f5f5;
	padding: .6rem .7rem;
	width: 90%;
	border-radius: 8px;
	font-weight: 700;
	font-size: 1rem;
	font-family: 'Noto Sans', sans-serif;
	color: #515151; 
}
.Search__icon{
	color: #777777;
}

.Search__icon{
	color: #515151;
}

.Profile{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 22%;
}
.Profile__arrow,
.Profile__name,
.Profile__thumb{
	cursor: pointer;
}

.Profile__thumb{
	width: 30px;
	height: 30px;
	overflow: hidden;
	border-radius: 30px;
}
/* 5. Content  */

.Destacados{padding-bottom: 24px;}
.Destacados__subtitle{color: #515151;}
.Destacados__title{color: #3b3b3b;}
.Media{
	/* display: flex; */
	/* flex-wrap: nowrap; */
	overflow-x: scroll;
    white-space: nowrap;
	overflow-y: hidden;
}
.Media__item{
	cursor: pointer;
    margin-right: 15px;
    display: inline-block;
    width: 35%;
    vertical-align: top;
	margin: 20px;
}

.Media__img{
	object-fit: cover;
	display: block;
}